nemo_text_processing==1.1.0
nvidia-nvtx-cu12==12.4.127
dill==0.3.8
networkx==3.2.1
tornado==6.4.2
decorator==5.2.1
nvidia-cublas-cu12==12.4.5.8
ml_dtypes==0.4.0
tensorboard_data_server==0.7.0
pynini==2.1.6.post1
jieba==0.42.1
termcolor==2.1.0
pybind11==3.0.0
fsspec==2024.12.0
matplotlib-inline==0.1.7
jupyter_core==5.7.2
wordfreq==3.1.1
pure_eval==0.2.3
numba==0.60.0
sortedcontainers==2.4.0
pypinyin==0.54.0
editdistance==0.8.1
imageio==2.37.0
plac==1.4.5
zipp==3.21.0
nvidia-cuda-nvrtc-cu12==12.4.127
pydantic==2.12.4
wrapt==1.17.0
kaldi-python-io==1.2.2
nest_asyncio==1.6.0
typer-slim==0.20.0
scipy==1.13.1
google-pasta==0.2.0
llvmlite==0.43.0
importlib_resources==6.5.2
pluggy==1.6.0
protobuf==4.25.3
kaldiio==2.18.1
mkl-service==2.4.0
omegaconf==2.3.0
youtokentome==1.0.6
tomli==2.2.1
Keras-Preprocessing==1.1.2
stack_data==0.6.3
kiwisolver==1.4.7
cdifflib==1.2.9
psutil==7.0.0
attrdict==2.0.1
datasets==4.0.0
datasets==3.5.0
nvidia-cusparse-cu12==12.3.1.170
annotated-types==0.7.0
Jinja2==3.1.6
ftfy==6.3.1
dataclasses==0.8
tensorflow-addons==0.19.0
marisa-trie==1.3.1
regex==2024.11.6
RapidFuzz==3.13.0
namex==0.0.7
catalogue==2.0.10
sentry-sdk==2.32.0
mpmath==1.3.0
urllib3==2.3.0
torchmetrics==1.7.4
g2p-en==2.1.0
multidict==6.4.3
multidict==6.1.0
pycparser==2.22
markdown-it-py==2.2.0
PyYAML==6.0.2
tensorflow==2.17.0
toml==0.10.2
frozenlist==1.6.0
frozenlist==1.5.0
yarl==1.18.0
yarl==1.20.0
nvidia-curand-cu12==10.3.5.147
multiprocess==0.70.16
multiprocess==0.70.15
segmentation-models==1.0.1
webrtcvad==2.0.10
locate==1.1.1
pickleshare==0.7.5
contourpy==1.3.0
gitdb==4.0.12
ipywidgets==8.1.7
pydantic_core==2.41.5
nvidia-nccl-cu12==2.21.5
docopt==0.6.2
requests==2.32.3
jedi==0.19.2
tokenizers==0.21.1
huggingface-hub==0.0.8
nvidia-nvjitlink-cu12==12.4.127
aiohappyeyeballs==2.4.4
aiohappyeyeballs==2.6.1
kornia_rs==0.1.9
cymem==2.0.11
language_data==1.3.0
Pygments==2.19.1
pyzmq==26.2.0
g2pM==0.1.2.5
eval_type_backport==0.2.2
wcwidth==0.2.13
srsly==2.5.1
keras==2.7.0
importlib_metadata==8.6.1
pytest==8.4.1
astunparse==1.6.3
optree==0.14.1
pandas==2.2.3
pytz==2024.1
jiwer==4.0.0
widgetsnbextension==4.0.14
parso==0.8.4
patchify==0.2.3
en_core_web_sm==3.8.0
torchvision==0.16.0+cu118
certifi==2025.7.9
wget==3.2
propcache==0.3.1
ipykernel==6.29.5
loguru==0.7.3
confection==0.1.5
pydub==0.25.1
MarkupSafe==3.0.2
hf-xet==1.1.5
braceexpand==0.1.7
h5py==3.12.1
platformdirs==4.3.7
idna==3.10
pyannote.database==5.1.3
msgpack==1.1.1
nvidia-cusolver-cu12==11.6.1.9
fonttools==4.57.0
executing==2.1.0
tqdm==4.67.1
opt-einsum==3.3.0
tifffile==2024.8.30
cloudpathlib==0.23.0
ruamel.yaml==0.18.14
soundfile==0.13.1
mkl_fft==1.3.11
pyworld==0.3.5
Cython==3.1.2
more-itertools==10.7.0
pickle-mixin==1.0.2
aiohttp==3.11.10
aiohttp==3.11.18
typeguard==4.4.4
wheel==0.44.0
efficientnet==1.0.0
spacy-loggers==1.0.5
preshed==3.0.10
colorama==0.4.6
typer==0.16.0
typing-inspection==0.4.2
backports-datetime-fromisoformat==2.0.3
backports.functools-lru-cache==2.0.0
TextGrid==1.6.1
texterrors==1.0.9
Keras-Applications==1.0.8
einops==0.8.1
lightning-utilities==0.9.0
matplotlib==3.9.4
PySocks==1.7.1
ptyprocess==0.7.0
blessed==1.25.0
TensorFlowTTS==0.0
typing_extensions==4.14.1
nvidia-cuda-runtime-cu12==12.4.127
cffi==1.17.1
webdataset==0.1.62
audioread==3.0.1
pyannote.core==5.0.0
iniconfig==2.1.0
click==8.1.8
flatbuffers==2.0.7
nvidia-cusparselt-cu12==0.6.2
nvidia-ml-py==13.590.44
filelock==3.18.0
jupyter_client==8.6.3
async-timeout==5.0.1
Distance==0.1.3
hydra-core==1.3.2
kornia==0.8.1
lazy_loader==0.4
sacremoses==0.1.1
GitPython==3.1.44
gast==0.4.0
debugpy==1.8.13
absl-py==2.1.0
ipython==8.18.1
spacy==3.8.8
spacy-legacy==3.0.12
torch==1.13.1+cu117
tensorboard==2.17.0
Werkzeug==3.1.3
transformers==4.51.3
wandb==0.21.0
rich==13.9.4
tensorflow-estimator==2.7.0
pexpect==4.9.0
sentencepiece==0.2.0
weasel==0.4.2
smmap==5.0.2
jamo==0.4.1
pooch==1.8.2
setuptools==75.1.0
pip==24.2
librosa==0.11.0
onnx==1.18.0
aiosignal==1.2.0
aiosignal==1.3.2
mkl_random==1.2.8
attrs==24.3.0
attrs==25.3.0
nvidia-cudnn-cu12==9.1.0.70
roman==5.1
comm==0.2.2
tzdata==2025.2
mdurl==0.1.0
packaging==24.2
safetensors==0.5.3
triton==2.1.0
indic-transliteration==2.3.75
six==1.17.0
langcodes==3.5.0
pillow==11.1.0
grpcio==1.62.2
pyarrow==19.0.1
pyarrow==19.0.0
Unidecode==1.4.0
nvidia-cufft-cu12==11.2.1.3
pyopenjtalk==0.4.1
xxhash==3.5.0
thinc==8.3.8
python-dateutil==2.9.0.post0
antlr4-python3-runtime==4.9.3
pypinyin-dict==0.9.0
sympy==1.13.1
resampy==0.4.3
fasttext==0.9.3
charset-normalizer==3.4.1
threadpoolctl==3.6.0
traitlets==5.14.3
nemo_toolkit==1.22.0
joblib==1.4.2
exceptiongroup==1.2.2
Brotli==1.0.9
nvidia-cuda-cupti-cu12==12.4.127
prompt_toolkit==3.0.50
scikit-learn==1.6.1
scikit-image==0.24.0
blis==1.3.0
pyannote.metrics==3.2.1
text-unidecode==1.3
Levenshtein==0.27.1
marshmallow==4.0.0
Markdown==3.4.1
inflect==7.5.0
tensorflow-gpu==2.7.0
gpustat==1.1.1
numpy==1.23.5
gmpy2==2.2.1
tabulate==0.9.0
torchaudio==0.13.1+cu117
asttokens==3.0.0
tensorflow-io-gcs-filesystem==0.37.1
libclang==18.1.1
nltk==3.9.1
soxr==0.5.0.post1
shellingham==1.5.4
murmurhash==1.0.13
image-classifiers==1.0.0
smart_open==7.5.0
jupyterlab_widgets==3.0.15
ruamel.yaml.clib==0.2.12
tiktoken==0.9.0
pytorch-lightning==2.0.7
wasabi==1.1.3
cycler==0.12.1
pyparsing==3.2.3
platformdirs==4.2.2
importlib_metadata==8.0.0
jaraco.collections==5.1.0
importlib_resources==6.4.0
jaraco.context==5.3.0
packaging==24.1
typeguard==4.3.0
typing_extensions==4.12.2
jaraco.functools==4.0.1
zipp==3.19.2
autocommand==2.2.2
wheel==0.43.0
backports.tarfile==1.2.0
more-itertools==10.3.0
jaraco.text==3.12.1
tomli==2.0.1
inflect==7.3.1
